doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        title Document
        link(rel='stylesheet', href='/css/style.css')
        script(src='/js/sendMessage.js')
    body
        h1.header ARENA GAME
        .container
            .leftTeam &nbsp;&nbsp;LEFT TEAM
                ol.users-list
                    li.user USERNAME 100%
                    li.user USERNAME 100%
                    li.user USERNAME 100%
                    li.user USERNAME 100%

            .panel
                .select-enemy
                    select.enemy-list
                        option.enemy USERNAME 100%
                        option.enemy USERNAME 100%
                        option.enemy USERNAME 100%
                        option.enemy USERNAME 100%
                .zones

                    .attack &nbsp;&nbsp;&nbsp;Attack
                        .user-head Head
                        .user-breast Breast
                        .user-belly Belly
                        .user-groin Groin
                        .user-legs Legs

                    .block &nbsp;&nbsp;&nbsp;Block
                        .user-head Head
                        .user-breast Breast
                        .user-belly Belly
                        .user-groin Groin
                        .user-legs Legs

                .button-attack
                    button.attack Attack

            .rightTeam &nbsp;&nbsp;RIGHT TEAM
                ol.users-list
                    li.user USERNAME 100%
                    li.user USERNAME 100%
                    li.user USERNAME 100%
                    li.user USERNAME 100%

        .chat
            .messages
                ol.messages_list
            .form
                input.message(type='text')
                button.send-message Відправити